<h1>
    {% if isEdit %}
    edit member
    {% else %}
    add member
    {% endif %}
</h1>
<form action="" method="post" >
    {% csrf_token %}
    <table>
    {{ form }}
    </table>
    <input type="submit" value="Submit" />
    

</form>
{% if isEdit %}
<form action='{{uuid}}/delete' method='Post'>
    {% csrf_token %}
    {% if form.role == 'AD' %}
    <button type='submit' disabled="true"> delete </button>
    {% else %}
    <button type='submit'> delete </button>
    {% endif %}
</form>
{% endif %}